:root {
  /* colors */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  background-image: linear-gradient(135deg, white, #fff5f5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main {
  max-width: 407px;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-img {
  width: 30%;
  padding: 2rem 0;
  margin: 0 2rem;
}

.hero-img-mobile {
  width: 100%;
}

.main-content {
  padding: 2rem;
  text-align: center;
}

.main-content h1 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 1.5;
  padding: 0 1rem;
  margin-top: 1rem;
}

.main-content h1 .thin-header {
  font-weight: 300;
  color: var(--desaturated-red);
}

.main-content h1 span {
  display: block;
}

.main-content p {
  color: var(--desaturated-red);
  line-height: 1.5;
  font-weight: 600;
  margin: 1rem 0;
}

.email-input-wrapper {
  position: relative;
}

input {
  background-image: none;
  width: 95%;
  border: solid 1px var(--desaturated-red);
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
}

input:focus {
  outline: none;
  border: solid 3px var(--desaturated-red);
}

input::-webkit-input-placeholder {
  color: var(--desaturated-red);
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
}

input:-ms-input-placeholder {
  color: var(--desaturated-red);
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
}

input::-ms-input-placeholder {
  color: var(--desaturated-red);
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
}

input::placeholder {
  color: var(--desaturated-red);
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
}

button {
  position: absolute;
  top: 14px;
  right: 0;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border: none;
  border-radius: 5rem;
  padding: 1.1rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(135deg, #ffe6e6, #fac4c4);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.error-outline {
  outline: none;
  background-image: url(images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: top 10px right 90px;
  border: solid 2.5px var(--soft-red);
}

.error {
  visibility: hidden;
  color: var(--soft-red);
  position: absolute;
  bottom: -20px;
  left: 35px;
}

.hero-img-desktop {
  display: none;
}

.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--desaturated-red);
}

@media screen and (min-width: 1440px) {
  body {
    background: url(images/bg-pattern-desktop.svg), linear-gradient(135deg, white, #fff5f5);
  }
  .hero-img-mobile {
    display: none;
  }
  .hero-img-desktop {
    display: block;
  }
  .hero-img-desktop img {
    width: 100%;
  }
  .logo-img {
    width: 20%;
  }
  main {
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 37%;
        grid-template-columns: 1fr 37%;
  }
  .container {
    padding: 3.75rem 13.5rem 0 10rem;
  }
  .main-content {
    text-align: left;
    width: 70%;
    padding: 4rem 2rem 0 2rem;
  }
  .main-content h1 {
    font-size: 4rem;
    letter-spacing: 0.8rem;
    line-height: 1.1;
    padding: 0;
    margin-top: 3rem;
  }
  .main-content p {
    line-height: 2;
  }
  .error {
    position: relative;
    top: 0.5rem;
    left: 25px;
  }
}
/*# sourceMappingURL=style.css.map */